# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: npm install and build
      run: |
        npm ci
        npm run build
    - name: Push to production branch
      run: |
        bin/rm -r src public .github node_modules
        bin/rm vite.config.js .eslintrc.cjs *.md package-lock.json *.html 
        git fetch
        git config --global user.email "lhyltoncs@gmail.com"
        git config --global user.name "Logan Hylton"
        git add -f .
        git commit -m "Deploy to production branch"
        git push origin master:production --force
